[submodule "CS/USTC-Computer-Networks-Labs"]
	path = CS/USTC-Computer-Networks-Labs
	url = git@github.com:USTC-CS-Course-Resource/USTC-Computer-Networks-Labs.git
[submodule "CS/Mathematical-Logic/InferenceEngine"]
	path = CS/Mathematical-Logic/InferenceEngine
	url = git@github.com:USTC-CS-Course-Resource/InferenceEngine.git
[submodule "CS/OS/USTC-OSH-2020-Labs"]
	path = CS/OS/USTC-OSH-2020-Labs
	url = git@github.com:USTC-CS-Course-Resource/USTC-OSH-2020-Labs.git
[submodule "CS/Algorithm-HWs-and-Labs"]
	path = CS/Algorithm-HWs-and-Labs
	url = git@github.com:USTC-CS-Course-Resource/Algorithm-HWs-and-Labs.git
