[submodule "CS/USTC-Computer-Networks-Labs"]
	path = CS/Computer-Networks/USTC-Computer-Networks-Labs
	url = git@github.com:USTC-CS-Course-Resource/USTC-Computer-Networks-Labs.git
[submodule "CS/Mathematical-Logic/InferenceEngine"]
	path = CS/Mathematical-Logic/InferenceEngine
	url = git@github.com:USTC-CS-Course-Resource/InferenceEngine.git
[submodule "CS/OS/USTC-OSH-2020-Labs"]
	path = CS/OS/USTC-OSH-2020-Labs
	url = git@github.com:USTC-CS-Course-Resource/USTC-OSH-2020-Labs.git
[submodule "CS/Algorithm-HWs-and-Labs"]
	path = CS/Algorithm-HWs-and-Labs
	url = git@github.com:USTC-CS-Course-Resource/Algorithm-HWs-and-Labs.git
[submodule "CS/Compiler/2020-USTC-Compiler-Lab-MLIR"]
	path = CS/Compiler/2020-USTC-Compiler-Lab-MLIR
	url = git@github.com:code-nowww/2020-USTC-Compiler-Lab-MLIR.git
[submodule "CS/Compiler/USTC-Compilers-Principles"]
	path = CS/Compiler/USTC-Compilers-Principles
	url = git@github.com:USTC-CS-Course-Resource/USTC-Compilers-Principles.git
[submodule "CS/OS/GDBFS"]
	path = CS/OS/GDBFS
	url = git@github.com:USTC-CS-Course-Resource/GDBFS.git
[submodule "CS/Computer-Organization-and-Design/USTC-2020-COD-Labs"]
	path = CS/Computer-Organization-and-Design/USTC-2020-COD-Labs
	url = git@github.com:USTC-CS-Course-Resource/USTC-2020-COD-Labs.git
[submodule "CS/Analog-and-Digital-Circuits/FLXG_FPGA"]
	path = CS/Analog-and-Digital-Circuits/FLXG_FPGA
	url = git@github.com:USTC-CS-Course-Resource/FLXG_FPGA.git
[submodule "CS/Embedded-System-Design/Realtime-FPGA-Video-Filter"]
	path = CS/Embedded-System-Design/Realtime-FPGA-Video-Filter
	url = git@github.com:code-nowww/Realtime-FPGA-Video-Filter.git
